<nav class="navbar navbar-light sidebar">
  <div class="top">
      <i class='fas fa-search'></i>
      <span>Tìm kiếm</span>
  </div>
  <form class="form search">
    <select class="custom-select">
      <option selected>Loại tin rao</option>
      <option value="1">Đất cần bán</option>
      <option value="1">Nhà cần bán</option>
      <option value="2">Nhà cần cho thuê</option>
    </select>
    <select class="custom-select">
      <option selected>Chọn khu vực</option>
      <option value="1">Thành phố Thái Nguyên</option>
      <option value="2">Thành phố Sông Công</option>
      <option value="3">Phổ Yên</option>
      <option value="4">Phú Bình</option>
      <option value="5">Đồng Hỷ</option>
      <option value="6">Võ Nhai</option>
      <option value="7">Định Hóa</option>
      <option value="8">Đại Từ</option>
      <option value="9">Phú Lương</option>
    </select>
    <select class="custom-select">
      <option selected>Chọn diện tích</option>
      <option value="1">Tất cả</option>
      <option value="1">< 30m2</option>
      <option value="2">30m2 - 50m2</option>
      <option value="3">50m2 - 100m2</option>
      <option value="2">100m2 - 300m2</option>
      <option value="3">> 300m2/option>
    </select>
    <select class="custom-select">
      <option selected>Chọn mức giá</option>
      <option value="1">Thỏa thuận</option>
      <option value="2">< 10 triệu</option>
      <option value="3">10 triệu - 50 triệu</option>
      <option value="4">50 triệu - 100 triệu</option>
      <option value="5">100 triệu - 1 tỷ</option>
      <option value="6">1 tỷ - 50 tỷ</option>
      <option value="7">> 50 tỷ</option>
    </select>
    <br>
    <button class="btn btn-success" type="submit">Tìm kiếm</button>
  </form>
</nav>