<!-- <header> -->
    <div class="container">
        <a class="" href="http://localhost:4200/" style="float: left;">
            <img src="https://ioffice.tatthanh.com.vn/pic/news/images/logobatdongsan/bieu-tuong-nha-1.jpg" width="250px" height="110px">
        </a>
        <ul class="" style="float: right;">
            <li><a class="nav-link" href="#"><i class="fas fa-user-plus"></i><span>&nbsp;Đăng ký</span></a></li>
            <li><a class="nav-link" href="#"><i class="fas fa-user"></i><span>&nbsp;Đăng nhập</span></a></li>
            <li><a class="nav-link" href="#"><i class="fas fa-user-edit"></i>&nbsp;Sửa thông tin cá nhân</a></li>
            <li><a class="=nav-link" href="#"><i class="fas fa-file-alt"></i>&nbsp;Bài viết mới</a></li>
            <!-- <li class="nav-item" *ngIf="dataService.dataUser">
                <a class="nav-link" routerLink="/editor" routerLinkActive="router-link-active">
                <i class="ion-compose"></i>&nbsp;Bài viết mới
                </a>
            </li>
            <li class="nav-item" *ngIf="dataService.dataUser">
                <a class="nav-link" routerLink="/setting" routerLinkActive="router-link-active">
                <i class="ion-gear-a"></i>&nbsp;Sửa thông tin cá nhân
                </a>
            </li>
            <li class="nav-item" *ngIf="!dataService.dataUser">
                <a class="nav-link" routerLink="/signin" routerLinkActive="router-link-active" >Đăng nhập</a>
            </li>
            <li class="nav-item" *ngIf="!dataService.dataUser">
                <a class="nav-link" routerLink="/signup" routerLinkActive="router-link-active" >Đăng ký</a>
            </li>
            <li class="nav-item" *ngIf="dataService.dataUser">
                <a 
                routerLink="/home/{{dataService.dataUser.user.username}}" routerLinkActive="router-link-active" 
                class="nav-link"
                ><img class="user-pic" src="{{dataService.dataUser.user.image}}"
                />{{dataService.dataUser.user.username}}</a>
            </li> -->
        </ul>
    </div>
<!-- </header> -->
