ul {
    list-style-type: none;
    margin: 55px 0 0 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: #222;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
  }
  
  /* li a:hover {
    background-color: #111;
  } */

.fas{
    font-size: 15px;
}
