<div class="card mb-3" style="width: 100%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" *ngFor="let d of res">
  <div class="row no-gutters">
    <div class="col-md-5">
      <img src="{{ d?.hinh_anh }}" class="card-img" alt="batdongsan" style="margin-left: 10px; border: 1px solid #b0aeae">
    </div>
    <div class="col-md-7">
      <div class="card-body" style="padding-right: 0">
        <h5 class="card-title">{{ d?.ten_bds }}</h5>
        <p class="card-text"><b>Giá:</b> {{ d?.gia }}</p>
        <p class="card-text"><b>Diện tích:</b> {{ d?.dien_tich }}</p>
        <p class="card-text"><b>Địa chỉ:</b> {{ d?.khu_vuc }}</p>
        <a href="#">Xem chi tiết ...</a>
      </div>
    </div>
  </div>
</div>
<nav aria-label="Page navigation example"> 
  <ul class="pagination justify-content-center" style="color: #333">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true" style="color: #333">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#" style="color: #333">1</a></li>
    <li class="page-item"><a class="page-link" href="#" style="color: #333">2</a></li>
    <li class="page-item"><a class="page-link" href="#" style="color: #333">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true" style="color: #333">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>